<div class="container mt-5" >


    

<h1>Search page</h1>

<form method="post" action="" >
  <div class="mb-3">
    <label for="search-input" class="form-label">Keyword</label>
    <input type="text" name="q" class="form-control" id="search-input" aria-describedby="emailHelp" placeholder="press a keyword..." >
    {{!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> --}}
    <select name="gender" class="form-control" >
        <option value="">-- Chọn giới tính --</option>
        <option value="male">Name</option>
        <option value="female"> Nữ</option>
    </select>
  </div>
 
 
  <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>